<%= form_for @player do |f| %>


 <div class='form-control'>
 	<%= f.label :nickname %>:
  <%= f.text_field :nickname %>
 </div>

 <div class='form-control'>
 	<%= f.label :rank %>:
  <%= f.text_field :rank %>
 </div>

 <div class='form-control'>
 	<%= f.label :charisma %>:
  <%= f.text_field :charisma %>
 </div>

 <div class='form-control'>
 	<%= f.label :wisdom %>:
  <%= f.text_field :wisdom %>
 </div>

 <div class='form-control'>
 	<%= f.submit 'SOXRANIT' %>:
 </div>
 
 <% end %>