<h1>Player</h1>
<h2><%=@player.nickname%></h2>
<%= link_to 'Edit', edit_player_path(@player) %>
|
<%= link_to 'Delete', player_path(@player), method: :delete%>
<p>Rank:</p>
<p><%=@player.rank %></p>
<p>Charisma:</p>
<p><%=@player.charisma %></p>
<p>Wisdom:</p>
<p><%=@player.wisdom %></p>
